<template name="paxEdit">
    <div class="js-pax alert">
        <p class="form-control-static">
            <img src="{{this.profile.picture}}" class="headerTinymanPhoto">
            {{ this.profile.name}}
        </p>
      <button type="button" class="btn btn-{{#if this.pago }}success{{else}}danger{{/if}} btn-sm js-pago-toggle">
          <span class="glyphicon glyphicon-usd"></span>
      </button>
    </div>
</template>

<template name="eventPaxList">
    <h3>Asistentes <a href="#" type="button" class="btn btn-info btn-xs" disabled="disabled"><span class="glyphicon glyphicon-list"></span> Reporte</a></h3>
    {{#if hasPax}}
        {{#each pax}}
            {{> paxEdit}}
        {{/each}}
    {{else}}
        <div class="alert alert-danger">
            <p>No hay asistentes</p>
        </div>
    {{/if}}
</template>
