<template name="paxEdit">
    <td>
        <img src="{{this.profile.picture}}" class="headerTinymanPhoto">
    </td>
    <td>
        {{ this.profile.name}}
    </td>
    <td>
        <button type="button" class="btn btn-{{#if this.sena }}success{{else}}danger{{/if}} btn-sm js-sena-toggle">
            <span class="glyphicon glyphicon-usd"></span> Seña
        </button>
        <button type="button" class="btn btn-{{#if this.pago }}success{{else}}danger{{/if}} btn-sm js-pago-toggle">
            <span class="glyphicon glyphicon-usd"></span> Pago Total
        </button>
        <button type="button" class="btn btn-danger btn-sm js-remove-pax">
            <span class="glyphicon glyphicon-minus"></span>
        </button>
    </td>
</template>

<template name="eventPaxList">
    <h3>Asistentes</h3>
    {{#if hasPax}}
        <table class="table">
            <thead>
                <tr><th></th><th>Nombre</th><th>Acciones</th></tr>
            </thead>
            <tbody>
                {{#each pax}}
                    <tr>
                        {{> paxEdit}}
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{else}}
        <div class="alert alert-danger">
            <p>No hay asistentes</p>
        </div>
    {{/if}}
</template>
