<template name="roomNew">
    <div class="js-room alert alert-info">
        <div class="form-group">
            <input id="roomId" type="text" class="form-control" placeholder="Ingrese el identificador">
        </div>
        <div class="form-group">
            <input id="roomDesc" type="text" class="form-control" placeholder="Ingrese la descripcion">
        </div>
        <div class="form-group">
            <input id="roomQty" type="number" class="form-control" placeholder="Ingrese el cupo" min="1">
        </div>
        <button type="button" class="btn btn-success btn-sm js-add-room">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>
</template>

<template name="roomEdit">
    <div class="js-room alert" data-room="{{this._id}}">
        <div class="form-group">
            <input type="text" class="form-control js-room-id" placeholder="Ingrese el identificador" value="{{ this.id }}">
        </div>
        <div class="form-group">
            <input type="text" class="form-control js-room-desc" placeholder="Ingrese la descripcion" value="{{ this.descripcion }}">
        </div>
        <div class="form-group">
            <input type="number" class="form-control js-room-qty" placeholder="Ingrese el cupo" min="1" value="{{ this.cupo }}">
        </div>
        <button type="button" class="btn btn-warning btn-sm js-update-room">
            <span class="glyphicon glyphicon-save"></span>
        </button>
        <button type="button" class="btn btn-danger btn-sm js-remove-room">
            <span class="glyphicon glyphicon-minus"></span>
        </button>
    </div>
</template>

<template name="eventRoomsList">
    <h3>Habitaciones <a href="#" type="button" class="btn btn-info btn-xs" disabled="disabled"><span class="glyphicon glyphicon-list"></span> Reporte</a></h3>
    {{#if hasRooms}}
        {{#each rooms}}
            {{> roomEdit}}
        {{/each}}
    {{else}}
        <div class="alert alert-danger">
            <p>No hay habitaciones cargadas</p>
        </div>
    {{/if}}
    {{> roomNew}}
</template>
