<template name="busquedaAdminHome">
  <div class="row" id="alert-container">
  </div>
  <div class="row">
    {{#if isInRole 'admin, super-admin'}}
      <div class="col-sm-12">
        {{#if hasBusquedas}}
          {{#each busqueda}}
            {{> busquedaTmpl}}
          {{/each}}
        {{else}}
          <p>No hay búsquedas disponibles.</p>
        {{/if}}
      </div>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          {{> busquedaNew}}          
        </div>
      </div>
    {{else}}
      <div class="col-sm-12">
        <div class="alert alert-danger">
          <p>No tiene permisos para gestionar búsquedas.</p>
        </div>
      </div>
    {{/if}}    
  </div>
</template>

<template name="busquedaTmpl">
  <div class="row js-busqueda{{#if this.live}} bg-success{{/if}}" data-busqueda="{{this._id}}">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-sm-7">
          <h2>
            {{this.id}}
            {{#if this.active}}
              <span class="badge badge-danger">activo</span>
            {{/if}}
            {{#if this.live}}
              <span class="badge badge-danger">LIVE</span>
            {{/if}}
          </h2>
        </div>
        <div class="col-sm-4 col-sm-offset-1">
          <h2></h2>
          <div class="pull-right">
            {{#unless this.active}}
              <button type="button" class="btn btn-primary btn-sm js-set-active">
                <span class="glyphicon glyphicon-ok-sign"></span> Activar
              </button>
            {{ else }}
              <button type="button" class="btn btn-warning btn-sm js-set-deactive">
                <span class="glyphicon glyphicon-ok-sign"></span> Desactivar
              </button>
            {{/unless}}
            {{#with bId }}
            <a class="btn btn-default btn-sm" href="{{ pathFor 'editBusqueda' }}">
              <span class="glyphicon glyphicon-edit"></span> Editar
            </a>
            {{/with}}
            <button type="button" class="btn btn-danger btn-sm js-busqueda-remove">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-info">
            {{this.descripcion}}
          </div>
        </div>
      </div>
    </div>
  </div>  
</template>

<template name="busquedaNew">
  <div class="js-busqueda alert alert-warning">
    <h4>Nueva Búsqueda</h4>
    <div class="form-group">
      <input id="busquedaId" type="text" class="form-control" placeholder="Ingrese el identificador">
      <input id="busquedaDesc" type="text" class="form-control" placeholder="Ingrese la descripcion">
      <input id="busquedaDate" type="datetime-local" class="form-control" placeholder="Ingrese la fecha de realización">
    </div>
    <div class="form-group">
      <input id="busquedaCupoMin" type="number" min="1" class="form-control" placeholder="Ingrese el cupo mínimo por equipo">
      <input id="busquedaCupoMax" type="number" min="1" class="form-control" placeholder="Ingrese el cupo máximo por equipo">
    </div>
    <div class="form-group">
      <input id="busquedaFaceId" type="text" class="form-control" placeholder="Ingrese el Id del evento en Facebook">
    </div>
    <button type="button" class="btn btn-success btn-sm js-add-busqueda">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </div>
</template>
