<template name="busquedaEdit">
  <div class="container">
    <div id="evento-header">
      {{> busquedaData}}
    </div>
    <div class="row">
      <p>
        Some text here?
      </p>
    </div>
    <div class="row">

      <div class="col-sm-6">
        <form class="form-horizontal js-busqueda-inicio">
          <div class="form-group">
            <label class="control-label col-sm-4"></label>
            <div class="col-sm-8">
              <p class="form-control-static">
                <h4>Coordenadas de Inicio</h4>
              </p>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4">Latitud</label>
            <div class="col-sm-8">
              <input type="text" class="form-control js-busqueda-inicio-latitud" placeholder="Ingrese la latitud inicial" value="{{ busqueda.initLatitude }}">
            </div>
            <label class="control-label col-sm-4">Longitud</label>
            <div class="col-sm-8">
              <input type="text" class="form-control js-busqueda-inicio-longitud" placeholder="Ingrese la longitud inicial" value="{{ busqueda.initLongitude }}">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <button type="button" class="btn btn-warning btn-sm js-update-busqueda-inicio pull-right">
                <span class="glyphicon glyphicon-save"></span>
              </button>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-4">
            <img src="{{ mapInitUrl }}" class="img-responsive img-thumbnail center-block">
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <form class="form-horizontal js-busqueda-final">
          <div class="form-group">
            <label class="control-label col-sm-4"></label>
            <div class="col-sm-8">
              <p class="form-control-static">
                <h4>Coordenadas de Fin</h4>
              </p>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4">Latitud</label>
            <div class="col-sm-8">
              <input type="text" class="form-control js-busqueda-final-latitud" placeholder="Ingrese la latitud final" value="{{ busqueda.endLatitude }}">
            </div>
            <label class="control-label col-sm-4">Longitud</label>
            <div class="col-sm-8">
              <input type="text" class="form-control js-busqueda-final-longitud" placeholder="Ingrese la longitud final" value="{{ busqueda.endLongitude }}">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <button type="button" class="btn btn-warning btn-sm js-update-busqueda-final pull-right">
                <span class="glyphicon glyphicon-save"></span>
              </button>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-4">
            <img src="{{ mapEndUrl }}" class="img-responsive img-thumbnail center-block">
          </div>
        </div>
      </div>
    

    </div>

    <div class="row" id="alert-container">
    </div>  
    <hr>  
    <div class="row">
      <p>
        {{#if busqueda.active }}
          <button type="button" class="btn btn-success btn-sm js-event-active-toggle" data-toggle='{{busqueda.active}}'>
            <span class="glyphicon glyphicon-ok"></span>
          </button>
        {{ else }}
          <button type="button" class="btn btn-danger btn-sm js-event-active-toggle" data-toggle='{{busqueda.active}}'>
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        {{/if}}
        Búsqueda Activa
      </p>
      <p>
        {{#if busqueda.live }}
          <button type="button" class="btn btn-success btn-sm js-event-live-toggle" data-toggle='{{busqueda.live}}'>
            <span class="glyphicon glyphicon-ok"></span>
          </button>
        {{ else }}
          <button type="button" class="btn btn-danger btn-sm js-event-live-toggle" data-toggle='{{busqueda.live}}'>
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        {{/if}}
        Búsqueda en Progreso
      </p>
    </div>
  </div>
  <hr>  

  <div class="form-no-label">
    <div class="well">
      {{> busquedaEquiposList}}
    </div>
    <div class="well">
      {{> busquedaRutasList}}
    </div>
    <div class="well">
      {{> busquedaNodosList}}
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <a class="btn btn-warning pull-right" href="{{pathFor 'busquedaList'}}">Volver</a>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="busquedaData">
  <div class="row">
    <div class="col-sm-4">
      <h3>{{ busqueda.id }}</h3>
    </div>
    <div class="col-sm-4 col-sm-offset-4">
      <h3 class="hidden-sm hidden-xs"></h3>
      {{ formatDate busqueda.date "short"}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-info">{{ busqueda.descripcion}}</div>
    </div>
  </div>
</template>

<template name="busquedaEquiposList">
  <h3>Equipos</h3>
  {{#if hasEquipos}}
    <div class="panel-group" id="edit-equipo-accordion">
      {{#each equipos}}
        {{> equipoShow}}
      {{/each}}
    </div>
  {{else}}
    <div class="alert alert-danger">
      <p>No hay equipos cargados</p>
    </div>
  {{/if}}
</template>

<template name="busquedaNodosList">
  <h3>Preguntas</h3>
  {{#if hasNodos}}
    <div class="panel-group" id="edit-nodo-accordion">
      {{#each nodos}}
        {{> nodoEdit}}
      {{/each}}
    </div>
  {{else}}
    <div class="alert alert-danger">
      <p>No hay preguntas cargadas</p>
    </div>
  {{/if}}
  <div class="panel-group" id="new-nodo-accordion">
    <div class="panel panel-default">
      <div class="panel-heading bg-primary" data-toggle="collapse" data-parent="#new-nodo-accordion" data-target="#new-nodo-form">
        <h4 class="panel-title">
          Nueva Pregunta
        </h4>
      </div>
      <div id="new-nodo-form" class="panel-collapse collapse">
        <div class="panel-body">
          {{> nodoNew}}
        </div>
      </div>
    </div>
  </div>
</template>

<template name="nodoNew">
  <div class="js-nodo alert alert-info" role="form">
    <div class="form-group">
      <input id="nodoId" type="text" class="form-control" placeholder="Ingrese el identificador del sobre">
      <input id="nodoQuestion" type="text" class="form-control" placeholder="Ingrese la pregunta">
    </div>
    <div class="form-group">
      <input id="nodoAnswer" type="number" class="form-control" placeholder="Ingrese la respuesta">
      <input id="nodoLowOffset" min="0" type="number" class="form-control" placeholder="Ingrese el margen inferior">
      <input id="nodoHighOffset" min="0" type="number" class="form-control" placeholder="Ingrese el margen superior">
    </div>
    <div class="form-group">
      <input id="nodoLatitude" type="text" class="form-control" placeholder="Latitud">
      <input id="nodoLongitude" type="text" class="form-control" placeholder="Longitud">
    </div>
    <button type="button" class="btn btn-success btn-sm js-add-nodo">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </div>
</template>

<template name="nodoEdit">
    <div class="panel panel-default">
      <div class="panel-heading bg-info" data-toggle="collapse" data-target="#edit-nodo-form-{{this._id}}">
        <h4 class="panel-title">
          {{ this.id }}
        </h4>
      </div>
      <div id="edit-nodo-form-{{this._id}}" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="js-nodo" data-nodo="{{this._id}}">
            <div class="row">
              <div class="col-sm-6">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label class="control-label col-sm-4">Id</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control js-nodo-id" placeholder="Ingrese el identificador" value="{{ this.id }}">
                    </div>
                    <label class="control-label col-sm-4">Pregunta</label>
                    <div class="col-sm-8">
                      <textarea rows="3" class="form-control js-nodo-question" placeholder="Ingrese la pregunta" >{{ this.question }}</textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-4">Respuesta</label>
                    <div class="col-sm-8">
                      <input type="number" class="form-control js-nodo-answer" placeholder="Ingrese la respuesta" value="{{ this.answer }}">
                    </div>
                    <label class="control-label col-sm-4">Margen inferior</label>
                    <div class="col-sm-8">
                      <input type="number" class="form-control js-nodo-lowOffset" placeholder="Ingrese el margen inferior" min="0" value="{{ this.lowOffset }}">
                    </div>
                    <label class="control-label col-sm-4">Margen Superior</label>
                    <div class="col-sm-8">
                      <input type="number" class="form-control js-nodo-highOffset" placeholder="Ingrese el margen superior" min="0" value="{{ this.highOffset }}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-4">Latitud</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control js-nodo-latitude" placeholder="Latitud (90 a -90)" value="{{ this.latitude }}">
                    </div>
                    <label class="control-label col-sm-4">Longitud</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control js-nodo-longitude" placeholder="Longitud (180 a -180)" value="{{ this.longitude }}">
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-sm-6">
                <img src="{{ mapUrl }}" class="img-responsive img-thumbnail">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <button type="button" class="btn btn-warning btn-sm js-update-nodo">
                  <span class="glyphicon glyphicon-save"></span>
                </button>
                <button type="button" class="btn btn-danger btn-sm js-remove-nodo">
                  <span class="glyphicon glyphicon-minus"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</template>

<template name="busquedaRutasList">
  <h3>Rutas</h3>
  {{#if hasRoutes}}
    <div class="panel-group" id="edit-route-accordion">
      {{#each routes}}
        {{> routeEdit}}
      {{/each}}
    </div>
  {{else}}
    <div class="alert alert-danger">
      <p>No hay rutas cargadas</p>
    </div>
  {{/if}}

  <div class="panel-group" id="new-route-accordion">
    <div class="panel panel-default">
      <div class="panel-heading bg-primary" data-toggle="collapse" data-parent="#new-route-accordion" data-target="#new-route-form">
        <h4 class="panel-title">
          Nueva Ruta
        </h4>
      </div>
      <div id="new-route-form" class="panel-collapse collapse">
        <div class="panel-body">
          {{> routeNew}}
        </div>
      </div>
    </div>
  </div>
</template>

<template name="routeNew">
  <div class="js-route alert alert-info">
    <div class="form-group">
      <input id="routeId" type="text" class="form-control" placeholder="Ingrese el identificador">
    </div>
    <button type="button" class="btn btn-success btn-sm js-add-route">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </div>
</template>

<template name="routeEdit">
    <div class="panel panel-default">
      <div class="panel-heading bg-info" data-toggle="collapse" data-target="#edit-route-form-{{this._id}}">
        <h4 class="panel-title">
          {{ this.id }}
        </h4>
      </div>
      <div id="edit-route-form-{{this._id}}" class="panel-collapse collapse route-collapse">
        <div class="panel-body">
          <div class="js-route" data-route="{{this._id}}">
            <div class="row">
              <div class="col-sm-4">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label class="control-label col-sm-4">Id</label>
                    <div class="col-sm-8">
                      <div class="input-group">
                        <input type="text" class="form-control js-route-id" placeholder="Ingrese el identificador" value="{{ this.id }}">
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-warning js-update-route">
                            <span class="glyphicon glyphicon-save"></span>
                          </button>
                          <button type="button" class="btn btn-danger js-remove-route">
                            <span class="glyphicon glyphicon-minus"></span>
                          </button>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-4">Distancia</label>
                    <div class="col-sm-8">
                      <p class="form-control-static">
                        {{ distancia }} kilometros
                      </p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-4">Nodos</label>
                    <div class="col-sm-8">
                      <p class="form-control-static">
                        {{ this.nodos.length }}
                      </p>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-sm-4">
                {{#each this.nodos}}
                  {{> nodoRouteShow }}
                {{/each}}
                <div class="input-group js-new-node-route">
                  <select class="form-control">
                    {{#each nodosNoUsados this.nodos}}
                      <option data-id={{_id}}>{{id}}</option>
                    {{/each}}
                  </select>
                  <span class="input-group-btn">
                    <button class="btn btn-default js-add-node" type="button">
                      <span class="glyphicon glyphicon-plus"></span>
                    </button>
                  </span>
                </div>
              </div>
              <div class="col-sm-4">
                {{> routeMap }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<template name="routeMap">
  <div id="map">
    <div id="map-canvas"></div>
  </div>
</template>

<template name="nodoRouteShow">
  <div class="row js-route-node" data-nodo="{{nodo._id}}" data-index="{{indexOfNodo ..}}">
    <div class="col-sm-12">
      <p class="pull-right">
        {{ nodo.id }}
        <div class="btn-group">
          <button type="button" class="btn btn-default {{#if isFirst ..}}disabled{{/if}} js-move-node-up"><span class="glyphicon glyphicon-chevron-up"></span></button>    
          <button type="button" class="btn btn-default {{#if isLast ..}}disabled{{/if}} js-move-node-down"><span class="glyphicon glyphicon-chevron-down"></span></button>    
          <button type="button" class="btn btn-default js-remove-node"><span class="glyphicon glyphicon-remove"></span></button>    
        </div>
      </p>
    </div>
  </div>
</template>

<template name="equipoShow">
    <div class="panel panel-default">
      <div class="panel-heading {{#if this.pago}}bg-success{{else}}bg-info{{/if}}" data-toggle="collapse" data-target="#edit-team-form-{{this._id}}">
        <h4 class="panel-title">
          {{ this.id }}
          <div class="pull-right">
            <small>Integrantes</small> <span class="badge">{{this.pax.length}}</span>
          </div>
        </h4>
      </div>
      <div id="edit-team-form-{{this._id}}" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="js-team" data-team="{{this._id}}">
            <div class="row">
              <div class="col-sm-6">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label class="control-label col-sm-4">Id</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control js-team-id" placeholder="Ingrese el nombre del equipo" value="{{ this.id }}">
                    </div>
                    <label class="control-label col-sm-4">Owner</label>
                    <div class="col-sm-8">
                      <p class="form-control-static">
                        {{ owner }}
                      </p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-4">Handicap</label>
                    <div class="col-sm-8">
                      <input type="number" class="form-control js-team-handicap" placeholder="Ingrese el handicap en minutos" value="{{ this.handicap }}">
                    </div>
                    <label class="control-label col-sm-4">Bonus</label>
                    <div class="col-sm-8">
                      <input type="number" class="form-control js-team-bonus" placeholder="Ingrese el bonus del equipo" value="{{ this.bonus }}">
                    </div>
                    <label class="control-label col-sm-4">Ruta</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control js-team-route" placeholder="-- SELECT PENDIENTE --" value="{{ this.route }}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-4">DNF</label>
                    <div class="col-sm-8">
                      <textarea rows="3" class="form-control js-team-dnf" placeholder="Ingrese el motivo de la descalificacion" >{{ this.dnf }}</textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-4">Pago</label>
                    <div class="col-sm-8">
                      {{#if this.pago}}
                        <button type="button" class="btn btn-success btn-sm js-team-pago-toggle" data-toggle='{{this.pago}}'>
                          <span class="glyphicon glyphicon-ok"></span>
                        </button>
                      {{ else }}
                        <button type="button" class="btn btn-danger btn-sm js-team-pago-toggle" data-toggle='{{this.pago}}'>
                          <span class="glyphicon glyphicon-remove"></span>
                        </button>
                      {{/if}}
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-sm-6">
                {{#each this.pax }}
                  {{> paxTeam}}
                {{/each}}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <button type="button" class="btn btn-warning btn-sm js-update-team">
                  <span class="glyphicon glyphicon-save"></span>
                </button>
                <button type="button" class="btn btn-danger btn-sm js-team-remove">
                  <span class="glyphicon glyphicon-minus"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<template name="paxTeam">
  <div class="row">
    <div class="col-sm-12">
      <img src="https://graph.facebook.com/{{ user.services.facebook.id }}/picture" class="headerTinymanPhoto"  alt="{{ user.profile.name }}" title="{{ user.profile.name }}" data-profile="{{ user._id }}">
      {{ user.profile.name }}
    </div>
  </div>
</template>
