<template name="eventEdit">
  <div class="container">
    <div id="evento-header">
      {{> eventData}}
    </div>

    <div class="row">
      <p>
        <button type="button" class="btn btn-primary js-facebook-refresh-event">
          <span class="glyphicon glyphicon-refresh"></span> Recargar datos de Facebook
        </button>
        <img src="/loading.gif" class="loading-indicator" id="event-refresh"/>
        <a href="#" type="button" class="btn btn-info pull-right" disabled="disabled"><span class="glyphicon glyphicon-list"></span> Reporte del Evento</a>
      </p>
    </div>

    <div class="row" id="alert-container">
    </div>    

    <div class="row">
      <p>
        <div class="make-switch js-event-active-switch" data-on="success" data-off="danger" data-on-label="SI" data-off-label="NO">
          <input type="checkbox" checked={{ evento.active }}>
        </div> Evento Activo
      </p>
      <p>
        <div class="make-switch js-event-register-switch" data-on="success" data-off="danger" data-on-label="SI" data-off-label="NO">
          <input type="checkbox" checked={{ evento.registracion }}>
        </div> Registración
      </p>
      <p>
        <div class="make-switch js-event-chismografo-switch" data-on="success" data-off="danger" data-on-label="SI" data-off-label="NO">
          <input type="checkbox" checked={{ evento.chismografo }}>
        </div> Chismógrafo
        <a  href="#" type="button" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-exclamation-sign"></span> Filtrar</a>
      </p>
    </div>
  </div>

  <div class="form-inline form-no-label">
    <div class="well">
      {{> eventRoomsList}}
    </div>

    <div class="well">
      {{> eventBusList}}
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <a class="btn btn-warning pull-right" href="{{pathFor 'admin'}}">Volver</a>
        </div>
      </div>
    </div>
  </div>

</template>

<template name="eventData">
  <div class="row">
    <div class="col-sm-4">
      <h3>{{ evento.name }}</h3>
    </div>
    <div class="col-sm-4 col-sm-offset-4">
      <h3 class="hidden-sm hidden-xs"></h3>
      {{ formatDate evento.start_time "short"}} - {{ formatDate evento.end_time "short"}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-info">{{ evento.description}}</div>
    </div>
  </div>
</template>

<template name="eventRoomsList">
  <h3>Habitaciones <a href="#" type="button" class="btn btn-info btn-xs" disabled="disabled"><span class="glyphicon glyphicon-list"></span> Reporte</a></h3>
  {{#if hasRooms}}
    {{#each rooms}}
      {{> roomEdit}}
    {{/each}}
  {{else}}
    <div class="alert alert-danger">
      <p>No hay habitaciones cargadas</p>
    </div>
  {{/if}}
  {{> roomNew}}
</template>

<template name="roomNew">
  <div class="js-room alert alert-info">
    <div class="form-group">
      <input id="roomId" type="text" class="form-control" placeholder="Ingrese el identificador">
    </div>
    <div class="form-group">
      <input id="roomDesc" type="text" class="form-control" placeholder="Ingrese la descripcion">
    </div>
    <div class="form-group">
      <input id="roomQty" type="number" class="form-control" placeholder="Ingrese el cupo" min="1">
    </div>
    <button type="button" class="btn btn-success btn-sm js-add-room">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </div>
</template>

<template name="roomEdit">
  <div class="js-room alert" data-room="{{this._id}}">
    <div class="form-group">
      <input type="text" class="form-control js-room-id" placeholder="Ingrese el identificador" value="{{ this.id }}">
    </div>
    <div class="form-group">
      <input type="text" class="form-control js-room-desc" placeholder="Ingrese la descripcion" value="{{ this.descripcion }}">
    </div>
    <div class="form-group">
      <input type="number" class="form-control js-room-qty" placeholder="Ingrese el cupo" min="1" value="{{ this.cupo }}">
    </div>
    <button type="button" class="btn btn-warning btn-sm js-update-room">
      <span class="glyphicon glyphicon-save"></span>
    </button>
    <button type="button" class="btn btn-danger btn-sm js-remove-room">
      <span class="glyphicon glyphicon-minus"></span>
    </button>
  </div>
</template>

<template name="eventBusList">
  <h3>Micros <a href="#" type="button" class="btn btn-info btn-xs" disabled="disabled"><span class="glyphicon glyphicon-list"></span> Reporte</a></h3>
  {{#if hasBuses}}
    {{#each buses}}
      {{> busEdit}}
    {{/each}}
  {{else}}
    <div class="alert alert-danger">
      <p>No hay micros cargados</p>
    </div>
  {{/if}}
  {{> busNew}}
</template>

<template name="busNew">
  <div class="js-bus alert alert-info">
    <div class="form-group">
      <input id="busId" type="text" class="form-control" placeholder="Ingrese el identificador">
    </div>
    <div class="form-group">
      <input id="busDesc" type="text" class="form-control" placeholder="Ingrese la descripcion">
    </div>
    <div class="form-group">
      <input id="busQty" type="number" class="form-control" placeholder="Ingrese el cupo" min="1">
    </div>
    <button type="button" class="btn btn-success btn-sm js-add-bus">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </div>
</template>

<template name="busEdit">
  <div class="js-bus alert" data-bus="{{this._id}}">
    <div class="form-group">
      <input type="text" class="form-control js-bus-id" placeholder="Ingrese el identificador" value="{{ this.id }}">
    </div>
    <div class="form-group">
      <input type="text" class="form-control js-bus-desc" placeholder="Ingrese la descripcion" value="{{ this.descripcion }}">
    </div>
    <div class="form-group">
      <input type="number" class="form-control js-bus-qty" placeholder="Ingrese el cupo" min="1" value="{{ this.cupo }}">
    </div>
    <button type="button" class="btn btn-warning btn-sm js-update-bus">
      <span class="glyphicon glyphicon-save"></span>
    </button>
    <button type="button" class="btn btn-danger btn-sm js-remove-bus">
      <span class="glyphicon glyphicon-minus"></span>
    </button>
  </div>
</template>
