<template name="home">
  {{#if userLogged }}
    {{> homeLogged}}
  {{else}}
    {{> homeAnonymous}}
  {{/if}}
</template>

<template name="homeAnonymous">
  <div class="jumbotron">
    <div class="container">
      <h1>Bienvenido!</h1>
      <p>Utilice su cuenta de Facebook para ingresar a la aplicación</p>
      <p></p>
      <p>{{loginButtons}}</p>
    </div>
  </div>
</template>

<template name="homeLogged">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <h1>{{ greeting }}</h1>
      </div>
      {{#unless isEventSet }}
        <div class="alert alert-block alert-danger">
          Todavia no nos decidimos a donde viajar!
        </div>
      {{ else }}
        <div class="row">
          Nuestro próximo viaje es a <strong>{{ destination }}</strong>
        </div>
      {{/unless}}
      <div class="row">
        <div class="col-sm-6">
          <img src="https://graph.facebook.com/{{picId}}/picture?width=200&height=200" class="bigPhoto img-responsive">
        </div>
        <div class="col-sm-4 col-sm-offset-2">
          <p>
            <a class="btn btn-lg btn-block {{#if isProfileComplete }}btn-success{{else}}btn-primary{{/if}}" href="{{pathFor 'profileEdit'}}">
              <span class="glyphicon glyphicon-ok"></span> Actualizá tu perfil
            </a>
          </p>
          {{#if userAttendingEvent}}
            {{#if isEventSet}}
              {{#if isEventOpen}}
                <p>
                  {{#if isProfileComplete}}
                    <button class="btn btn-lg btn-block {{#if isRoomSelected }}btn-success{{else}}btn-primary{{/if}}">
                  {{else}}
                    <button class="btn btn-default btn-lg btn-block" disabled="disabled">
                  {{/if}}
                  <span class="glyphicon glyphicon-ok"></span> Elegí donde dormir
                  </button>
                </p>
                <p>
                  {{#if isProfileComplete}}
                    <button class="btn btn-lg btn-block {{#if isBusSelected }}btn-success{{else}}btn-primary{{/if}}">
                  {{else}}
                    <button class="btn btn-default btn-lg btn-block" disabled="disabled">
                  {{/if}}
                  <span class="glyphicon glyphicon-ok"></span> Elegí donde viajar
                  </button>
                </p>
              {{/if}}

              {{#if isEventEnabled}}
                <p>
                  <button class="btn btn-lg btn-block btn-success">
                    <span class="glyphicon glyphicon-ok"></span> Chismógrafo!
                  </button>
                </p>
              {{/if}}
            {{/if}}
          {{/if}}
        </div>
      </div>
      {{#if userAttendingEvent}}
        <p>
          Algo para poner cuando asiste al evento!
        </p>
      {{ else }}
        <p>
          Debe indicar que asistirá al evento para poder continuar con el registro
        </p>
      {{/if}}
    </div>
  </div>
</template>