<template name="homeViajes">
    <div class="jumbotron">
        <div class="container">
            {{#unless isEventSet }}
                <div class="alert alert-block alert-danger">
                    Todavía no nos decidimos a dónde viajar!
                </div>
            {{ else }}
                <div class="row">
                    <p>
                        Nuestro próximo viaje es a <strong>{{ this.name }}</strong>
                    </p>
                </div>
                {{#unless seniaPaga}}
                    <div class="alert alert-block alert-danger">
                        Paga la seña para asegurarte un lugar en el viaje!
                    </div>
                {{else}}
                    {{#unless totalPago}}
                        <div class="alert alert-block alert-info">
                            Completa el pago para poder elegir tu habitación y el lugar en el micro
                        </div>
                    {{/unless}}
                {{/unless}}
            {{/unless}}
            <div class="row">
                <div class="col-sm-4">
                    <p>
                        <a class="btn btn-lg btn-block {{#if isProfileComplete }}btn-success{{else}}btn-warning{{/if}}" href="{{pathFor 'profileEdit'}}">
                            <span class="glyphicon glyphicon-{{#if isProfileComplete }}ok{{else}}warning-sign{{/if}}"></span> Actualizá tu perfil
                        </a>
                    </p>
                    {{#if isEventSet}}
                        {{#if userAttendingEvent}}
                            {{#if totalPago}}
                                <p>
                                    <button class="btn btn-lg btn-block btn-success" disabled="disabled">
                                        <span class="glyphicon glyphicon-ok"></span> Total pagado
                                    </button>
                                </p>
                            {{else}}
                                {{#if seniaPaga}}
                                    <p>
                                        <button class="btn btn-lg btn-block btn-warning" disabled="disabled">
                                            <span class="glyphicon glyphicon-warning-sign"></span> Esperando pago total
                                        </button>
                                    </p>
                                {{else}}
                                    <p>
                                        <button class="btn btn-lg btn-block btn-warning" disabled="disabled">
                                            <span class="glyphicon glyphicon-warning-sign"></span> Esperando pago de la seña
                                        </button>
                                    </p>
                                {{/if}}
                            {{/if}}
                            {{#if this.registracion}}
                                <p>
                                    {{#if isAbleToChoose}}
                                    <a class="btn btn-lg btn-block {{#if isRoomSelected this }}btn-success{{else}}btn-warning{{/if}}" href="{{pathFor 'roomsList'}}">
                                        <span class="glyphicon glyphicon-{{#if isRoomSelected this }}ok{{else}}warning-sign{{/if}}"></span> Elegí dónde dormir
                                    </a>
                                    {{else}}
                                        <button class="btn btn-default btn-lg btn-block" disabled="disabled">
                                            <span class="glyphicon glyphicon-minus"></span> Elegí dónde dormir
                                        </button>
                                    {{/if}}
                                </p>
                                <p>
                                    {{#if isAbleToChoose}}
                                        <a class="btn btn-lg btn-block {{#if isBusSelected this }}btn-success{{else}}btn-warning{{/if}}" href="{{pathFor 'busesList'}}">
                                            <span class="glyphicon glyphicon-{{#if isBusSelected this }}ok{{else}}warning-sign{{/if}}"></span> Elegí dónde viajar
                                        </a>
                                    {{else}}
                                        <button class="btn btn-default btn-lg btn-block" disabled="disabled">
                                            <span class="glyphicon glyphicon-minus"></span> Elegí dónde viajar
                                        </button>
                                    {{/if}}
                                </p>
                            {{/if}}

                            {{#if this.chismografo}}
                                <p>
                                    <button class="btn btn-lg btn-block btn-success">
                                        <span class="glyphicon glyphicon-ok"></span> Chismógrafo!
                                    </button>
                                </p>
                            {{/if}}
                            <p>
                                <button class="btn btn-lg btn-block btn-danger btn-no-asistir-evento">
                                    <span class="glyphicon glyphicon-thumbs-down"></span> Bajarme del Viaje
                                </button>
                            </p>
                        {{else}}
                            <p>
                                <button class="btn btn-lg btn-block btn-warning btn-asistir-evento">
                                    <span class="glyphicon glyphicon-thumbs-up"></span> Quiero sumarme al viaje!
                                </button>
                            </p>
                        {{/if}}
                        <p>
                            <a class="btn btn-lg btn-block btn-primary" href="{{pathFor 'eventInfo'}}">
                                <span class="glyphicon glyphicon-info-sign"></span> Información
                            </a>
                        </p>
                    {{/if}}
                </div>
            </div>
            {{#if isEventSet}}
                {{#unless userAttendingEvent}}
                    <p>
                        No te lo podes perder!
                    </p>
                {{/unless}}
            {{/if}}
        </div>
    </div>
</template>
