<template name="homeTesoro">
  {{#if busquedaStarted }}
    {{> homeStarted}}
  {{else}}
    {{> homeNotStartedTesoro}}
  {{/if}}
</template>

<template name="homeStarted">
  {{#if hasAlertas}}
    {{#each alertas}}
      <div class="alert alert-danger">
        <h4>
          <span class="glyphicon glyphicon-warning-sign"></span> <strong>{{ this }}</strong>
        </h4>
      </div>
    {{/each}}
  {{else}}
    {{> statusBusqueda}}
  {{/if}}
</template>

<template name="homeNotStartedTesoro">
  <div class="container">
    <div class="row">
      <h3>{{ greeting }}</h3>
    </div>
    {{#if busquedaActive }}
      <div class="row">
        <h2>Búsqueda del tesoro {{ busqueda.id }}</h2>
      </div>
    {{ else }}
      <div class="row">
        <p>Por el momento no hay búsqueda del tesoro activa</p>
      </div>
    {{/if}}
    <div class="row">
      <div class="col-sm-4 col-sm-offset-1">
        <p>
          <a class="btn btn-lg btn-block {{#if hasTeam}}btn-success{{else}}btn-primary{{/if}}{{#unless busquedaActive}} disabled{{/unless}}" href="{{pathFor 'teamList'}}">
            <span class="glyphicon glyphicon-ok"></span> Elegí tu equipo
          </a>
        </p>          
      </div>
      <div class="col-sm-4 col-sm-offset-2">
        <p>
          <a class="btn btn-lg btn-block {{#if isProfileComplete }}btn-success{{else}}btn-primary{{/if}}" href="{{pathFor 'profileEdit'}}">
            <span class="glyphicon glyphicon-ok"></span> Actualizá tu perfil
          </a>
        </p>          
      </div>
    </div>
    <div class="row">
      <p class="bg-info tesoro-p">
        {{busqueda.descripcion}}
        {{#if busqueda.facebookEvent}}
          Más información en nuestro 
          <a href="https://www.facebook.com/events/{{busqueda.facebookEvent}}">evento en facebook</a>.
        {{/if}}
      </p>
    </div>
  </div>
</template>