<template name="tesoroScoreBoard">
  Tabla de Puntuacion
  <hr>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th class="text-center">
            <p>Puntaje</p>
            <kbd>Tiempo</kbd>
          </th>
          <th class="text-center">Equipo</th>
          {{#each totalPreguntas null}}
            <th class="text-center">{{this}}</th>
          {{/each}}
          <th class="text-center">Equipo</th>
          <th class="text-center">
            <p>Puntaje</p>
            <kbd>Tiempo</kbd>
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each equipos}}
          <tr>
            <td class="text-center">
              <p>{{puntaje}}</p>
              <kbd>{{tiempoTotal}}</kbd>
            </td>
            <td class="text-center">{{id}}</td>
            {{#each totalPreguntas this}}
              <td class="text-center {{ preguntaEstado .. this}}">
                <a href="#" data-placement="top" data-toggle="tooltip" class="tip-top" data-original-title="PREGUNTA">
                  <span class="badge badge-">{{ preguntaIdSobre .. this}}</span>
                </a>
                <p>{{ preguntaRespuesta .. this}}</p>
                <kbd>{{ preguntaTiempo .. this}}</kbd>
              </td>
            {{/each}}
            <td class="text-center">{{id}}</td>
            <td class="text-center">
              <p>{{puntaje}}</p>
              <kbd>{{tiempoTotal}}</kbd>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <hr>
</template>
