<template name="teamList">
  <h1>
    <strong>Lista de Equipos</strong>
  </h1>
  {{#if hasEquipos}}
    <p class="text-info">Seleccioná un equipo o creá uno nuevo.</p>
    {{> newTeam}}
    {{#each equipos}}
      {{> teamDetail}}
    {{/each}}
  {{else}}
    <p class="text-warning">Todavía no hay equipos creados. Sé el primero en inscribirse!</p>
    {{> newTeam}}    
  {{/if}}
</template>

<template name="teamDetail">
  <div class="row js-team" data-team="{{ this._id }}">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="row">
        <div class="col-sm-5">
          <div class="row">
            <div class="col-md-12">
              <h2><strong>{{ this.id }}</strong> <small>{{ this.descripcion }}</small>
                {{#if isOwner }}
                  <div class="btn-group">
                    <button type="button" class="btn btn-warning js-team-edit"><span class="glyphicon glyphicon-pencil"></span></button>
                    <button type="button" class="btn btn-danger js-team-remove"><span class="glyphicon glyphicon-remove"></span></button>
                  </div>
                {{/if}}
              </h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {{#each this.pax }}
                {{> paxTeamDetail}}
              {{/each}}
              {{#if canJoin }}
                <div class="btn-group">
                  <button type="button" class="btn btn-default js-check-in"><span class="glyphicon glyphicon-plus"></span></button>
                </div>
              {{/if }}
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-sm-offset-3">
          <h2>
          <small>Lugares Disponibles</small> <span class="badge">{{ lugaresDisponibles }}</span>
          </h2>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="paxTeamDetail">
  <img src="https://graph.facebook.com/{{ user.services.facebook.id }}/picture" class="headerTinymanPhoto js-check-out"  alt="{{ user.profile.nombre }}" title="{{ user.profile.nombre }}" data-profile="{{ user._id }}">
</template>

<template name="newTeam">
  <div class="panel-group" id="new-team-accordion">
    <div class="panel panel-default">
      <div class="panel-heading bg-primary" data-toggle="collapse" data-parent="#new-team-accordion" data-target="#new-team-form">
        <h4 class="panel-title">
          <span class="glyphicon glyphicon-plus"></span> Crear Nuevo Equipo
        </h4>
      </div>
      <div id="new-team-form" class="panel-collapse collapse">
        <div class="panel-body">
          <p class="alert alert-danger">
           Recordá que si el equipo no llega al mínimo de 3 jugadores anotados, no podrá participar de la búsqueda.
          </p>
          <div class="js-team alert alert-info" role="form">
            <div class="form-group">
              <input id="teamId" type="text" class="form-control" placeholder="Ingrese el nombre del equipo">
            </div>
            <button type="button" class="btn btn-success btn-sm js-add-team">
              Crear
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </template>