<template name="eventReport">
  <h3>
    Reporte del evento: {{ evento.name }}
  </h3>
  <div>
  <p>
    Total de inscriptos:
    <span> {{ pax.count }} </span>
  </p>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Foto</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Documento</th>
        <th>Teléfono</th>
        <th>Contacto de Emergencia</th>
        <th>Obra Social</th>
        <th>Señó</th>
        <th>Pago Total</th>
        <th>Micro</th>
        <th>Habitación</th>
      </tr>
    </thead>
    <tbody>
      {{#each pax }}
        {{> paxReportDetail}}
      {{/each}}
    </tbody>
  </table>
</template>


<template name="paxReportDetail">
  <tr>
    <td>
      <img src="https://graph.facebook.com/{{ this.services.facebook.id }}/picture" class="headerTinymanPhoto"  alt="{{ this.profile.nombre }}" title="{{ this.profile.nombre }}" data-profile="{{ this._id }}">
    </td>
    <td>{{ this.profile.nombre }}</td>
    <td>{{ this.profile.apellido }}</td>
    <td>{{ this.profile.documento }}</td>
    <td>{{ this.profile.telefono }}</td>
    <td>{{ this.profile.telefonoEmergencia }}</td>
    <td>{{ this.profile.obraSocial }}</td>
    <td>{{#if this.sena }}Si{{else}}No{{/if}}</td>
    <td>{{#if this.pago }}Si{{else}}No{{/if}}</td>
    <td>{{ busDescripcion }}</td>
    <td>{{ roomDescripcion }}</td>
  </tr>
</template>

<template name="agenda">
    <h3>
        Agenda
    </h3>
    <div>
        <p>
            Total de usuarios:
            <span> {{ pax.count }} </span>
        </p>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Foto</th>
            <th>Nombre en Facebook</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Documento</th>
            <th>Teléfono</th>
            <th>Contacto de Emergencia</th>
            <th>Obra Social</th>
        </tr>
        </thead>
        <tbody>
        {{#each pax }}
            {{> paxAgendaDetail}}
        {{/each}}
        </tbody>
    </table>
</template>

<template name="paxAgendaDetail">
    <tr>
        <td>
            <img src="https://graph.facebook.com/{{ this.services.facebook.id }}/picture" class="headerTinymanPhoto"  alt="{{ this.profile.nombre }}" title="{{ this.profile.nombre }}" data-profile="{{ this._id }}">
        </td>
        <td>{{ this.profile.name }}</td>
        <td>{{ this.profile.nombre }}</td>
        <td>{{ this.profile.apellido }}</td>
        <td>{{ this.profile.documento }}</td>
        <td>{{ this.profile.telefono }}</td>
        <td>{{ this.profile.telefonoEmergencia }}</td>
        <td>{{ this.profile.obraSocial }}</td>
    </tr>
</template>